<h1><%= t 'static_pages.friend.edit.edit_friend' %></h1>

<%= render 'form', friend: @friend %>

<br/>
<%= link_to (t 'static_pages.friend.form.edit'), @friend, class:"btn btn-dark" %> |
<%= link_to (t 'global.menu.back'), friends_path, class:"btn btn-dark" %>
