<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @friend.first_name  %> <%= @friend.last_name  %>!</h1>
<p>You have been added as a friend by <%= @user.email  %></p>

</body>
</html>